@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-color: hsl(235deg, 21%, 11%);
  color: hsl(234deg, 39%, 85%);
  transition: all 0.3s ease 0s;
}
body .img_background {
  width: 100%;
  height: 30%;
  background-image: url("../../images/bg-mobile-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body.light_theme {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(235deg, 19%, 35%);
}
body.light_theme .img_background {
  background-image: url("../../images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
body.light_theme input[type=text] {
  color: hsl(236deg, 9%, 61%);
}
body.light_theme input[type=text]::placeholder {
  color: inherit;
}
body.light_theme input[type=checkbox] {
  border-color: hsl(233deg, 11%, 84%);
}
body input[type=text] {
  background: none;
  border: none;
  font-family: inherit;
  color: inherit;
  font-size: 0.8em;
  outline: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
body input[type=checkbox] {
  cursor: pointer;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid hsl(237deg, 14%, 26%);
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body input[type=checkbox]:checked {
  background-image: linear-gradient(45deg, hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  border-color: transparent;
}
body button {
  background: none;
  border: none;
  color: hsl(233deg, 14%, 35%);
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
body button:hover {
  color: hsl(236deg, 33%, 92%);
}

.main_header {
  width: 100%;
}
.main_header_content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.main_header_content_title h1 {
  font-size: 1.4em;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  letter-spacing: 0.4em;
}
.main_header_content_theme {
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}

.main_app {
  width: 100%;
}
.main_app_content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}
.main_app_content_input {
  width: 100%;
}
.main_app_content_input form {
  margin-bottom: 20px;
  background-color: hsl(235deg, 24%, 19%);
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.main_app_content_tasks {
  background-color: hsl(235deg, 24%, 19%);
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  box-shadow: 0 10px 10px 0 hsla(0deg, 0%, 0%, 0.1);
}
.main_app_content_tasks_list {
  font-size: 0.7em;
}
.main_app_content_tasks_list li {
  list-style: none;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-bottom: 1px solid hsl(237deg, 14%, 26%);
}
.main_app_content_tasks_list li .complete, .main_app_content_tasks_list li .delete {
  flex-basis: 18px;
}
.main_app_content_tasks_list li .complete i, .main_app_content_tasks_list li .delete i {
  color: hsl(237deg, 14%, 26%);
  cursor: pointer;
}
.main_app_content_tasks_list li .task {
  flex-basis: calc(100% - 36px - 20px);
}
.main_app_content_tasks_list li.completed .task {
  color: hsl(233deg, 14%, 35%);
  text-decoration: line-through;
}
.main_app_content_actions {
  background-color: hsl(235deg, 24%, 19%);
  padding: 20px;
  margin-bottom: 20px;
  font-size: 0.7em;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 10px 10px 0 hsla(0deg, 0%, 0%, 0.1);
}
.main_app_content_actions button {
  font-size: inherit;
  font-weight: 400;
}
.main_app_content_filter {
  background-color: hsl(235deg, 24%, 19%);
  padding: 20px;
  margin-bottom: 60px;
  font-size: 0.7em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: 0 0 10px 0 hsla(0deg, 0%, 0%, 0.1);
}

body.light_theme .main_app_content_input form {
  background-color: hsl(0deg, 0%, 100%);
}
body.light_theme .main_app_content_tasks {
  background-color: hsl(0deg, 0%, 100%);
}
body.light_theme .main_app_content_tasks_list li {
  border-color: hsl(236deg, 33%, 92%);
}
body.light_theme .main_app_content_tasks_list li .complete i, body.light_theme .main_app_content_tasks_list li .delete i {
  color: hsl(233deg, 11%, 84%);
}
body.light_theme .main_app_content_actions {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(236deg, 9%, 61%);
}
body.light_theme .main_app_content_actions button {
  color: inherit;
}
body.light_theme .main_app_content_filter {
  background-color: hsl(0deg, 0%, 100%);
}
body.light_theme .main_app_content_filter button {
  color: hsl(236deg, 9%, 61%);
}