.main_app {
    @include containerFull;

    &_content {
        @include container(600px);

        &_input {
            @include containerFull;

            form {
                margin-bottom: 20px;
                background-color: $color-very-dark-desaturated-blue;
                padding: 20px;

                @include borderRadius;
                @include flex(flex-start, center, nowrap);
                gap: 10px;

                @include transition;
            }
        }

        &_tasks {
            background-color: $color-very-dark-desaturated-blue;
            @include borderRadius($radius-default $radius-default 0 0);

            @include boxShadow(0, 10px, 10px, 0);
            @include transition;

            &_list {
                font-size: 0.7em;

                li {
                    list-style: none;
                    padding: 20px;

                    @include flex;
                    gap: 10px;
                    border-bottom: 1px solid $color-very-dark-grayish-blue-3;
                    cursor: default;

                    @include transition;

                    &:hover {
                        .delete {
                            visibility: visible;
                            opacity: 1;

                            i {
                                color: $color-very-dark-grayish-blue-2;
                            }
                        }

                        input[type="checkbox"] {
                            border-color: transparent;
                            border-style: double;

                            background-image:
                                linear-gradient(45deg, $color-very-dark-desaturated-blue, $color-very-dark-desaturated-blue),
                                linear-gradient(45deg, $color-check-background);

                            @include setBrowsers(background-origin, border-box);
                            @include setBrowsers(background-clip, (padding-box, border-box));

                            &:checked {
                                background-image: linear-gradient(45deg, $color-check-background) !important;
                            }
                        }
                    }

                    .complete {
                        @include flexBasis(18px);
                    }

                    .task {
                        @include flexBasis(calc(100% - (18px * 2) - (10px * 2)));
                    }

                    .delete {
                        @include flexBasis(18px);
                        @include transition;

                        @include setResponsiveDesign(900px) {
                            visibility: hidden;
                            opacity: 0;
                        }

                        i {
                            color: $color-very-dark-grayish-blue-3;
                            font-size: 1.4em;
                            cursor: pointer;
                        }
                    }

                    &.completed {
                        .task {
                            color: $color-very-dark-grayish-blue-2;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }

        &_actions {
            background-color: $color-very-dark-desaturated-blue;
            padding: 20px;
            margin-bottom: 20px;
            font-size: 0.7em;
            color: $color-very-dark-grayish-blue-2;

            @include borderRadius(0 0 $radius-default $radius-default);
            @include flex(space-between);

            @include boxShadow(0, 10px, 10px, 0);
            @include transition;

            @include setResponsiveDesign(600px) {
                margin-bottom: 0;
            }

            button {
                font-size: inherit;
                font-weight: 400;
            }
        }

        &_filter {
            background-color: $color-very-dark-desaturated-blue;
            padding: 20px;
            margin-bottom: 60px;
            font-size: 1em;

            @include borderRadius;
            @include flex;
            gap: 20px;

            @include boxShadow(0, 0, 10px);
            @include transition;

            @include setResponsiveDesign(600px) {
                width: auto;
                padding: 0;
                background: none;
                box-shadow: none;
            }

            button {
                &.active {
                    color: $color-bright-blue;
                }

                @include setResponsiveDesign(600px) {
                    font-size: 1em;
                    transform: translateY(-175%);
                }
            }
        }
    }
}